* {
    font-weight: 600;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top-left {
    display: flex;
}

.top {
    height: 30px;
    line-height: 30px;
    background-color: #CCC;
    font-size: 16px;
}

.welcome {
    margin-right: 20px;
}


.login a {
    border-right: 1px solid #666;
    padding: 0 10px;
}

.regiest {
    padding: 0 10px;
}

.top-right {
    display: flex;
}

.top-right-item a {
    padding: 0 10px;
    border-right: 1px solid #666;
}

.top-right-item:first-child a {
    padding-left: 0;
}

.top-right-item:last-child a {
    padding-right: 0;
    border: 0;
}